<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="gsm_port" value="COM1" />
    <add key="database" value="SantaMonica" />
    <add key="serverName" value="APOLLO2" />
    <add key="username" value="santamonica" />
    <add key="password" value="santamonica" />    
  </appSettings>
</configuration>
